body {  margin: 0;
  font-family: 'Orbitron', sans-serif;
  height: 100vh;

  background:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)),
    url("../images/gaming_hero_4k.png");

  background-size: cover;
  background-position: center;
}

.container { display: flex;
             padding: 40px;
             border-radius: 15px;
             width: 100%;
             color: white;
             text-align: center;
            justify-content: center;  /* 🔥 ye main fix hai */
            align-items: center;      /* 🔥 ye bhi */
}       

#loginForm {
  position: relative; /* 🔥 important */
  width: 350px;
  padding: 40px;

  background: rgba(20, 20, 20, 0.6);
  backdrop-filter: blur(15px);

  border-radius: 15px;
  border: 1px solid rgba(255, 140, 0, 0.2);

  box-shadow: 0 0 25px rgba(255, 140, 0, 0.2);
  text-align: center;
  animation: glowBox 3s infinite alternate;
}

@keyframes glowBox {
  from {
    box-shadow: 0 0 10px rgba(255,140,0,0.2);
  }
  to {
    box-shadow: 0 0 30px rgba(255,140,0,0.4);
  }
}

#loginForm h2 {
  color: #ff8c00;
  margin-bottom: 25px;

  text-shadow: 0 0 10px rgba(255,140,0,0.6);
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;

  font-size: 24px;
  color: #ff8c00;
  text-decoration: none;
  text-shadow: 0 0 10px rgba(255,140,0,0.7);
  transition: 0.3s;     
}

.close-btn:hover {
  color: #ff4d4d;
  transform: rotate(90deg) scale(1.2);
}

#loginForm a {
  color: #ff8c00;
  text-decoration: none;
  font-size: 14px;
}

#loginForm a:hover {
  text-shadow: 0 0 8px #ff8c00;
}

.input-group input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;

  background: #111;
  border: 1px solid rgba(255,140,0,0.3);
  border-radius: 8px;

  color: #fff;
  outline: none;
  transition: 0.3s;
}

.input-group input::placeholder {
  color: #888;
}

.input-group input:hover {
  border-color: rgba(255,140,0,0.6);
}

.input-group input:focus {
  border-color: #ff8c00;
  box-shadow: 0 0 10px rgba(255,140,0,0.7);
}
  button { width: 100%;
           padding: 12px;
           background: linear-gradient(45deg, #ff8c00, #ff4500);
           border: none;
           border-radius: 8px;
           color: #000;
           cursor: pointer;
           transition: 0.3s;
           }
          
button:hover {
               transform: translateY(-2px);
  box-shadow: 0 0 15px rgba(255,140,0,0.7);
                       }
                       
          .error { color: yellow;
                    font-size: 12px;
                 } 
           #successMsg { color: lightgreen;
              margin-top: 10px;
       }
                                        
